# Introduction of the Dataset and Analysis Plan

### Structure of the dataset

We have a couple of options to choose from with datasets:
    - alldata.csv
    - 15 different states csv's
    
Ideally, we would like to see all of them in one because our plan is to answer these questions:

- Which location has the most junior/assistant/intern Data Analyst jobs?
- What are the most popular skills for a Data Analyst?
- What's the proportion of job ads which has salary information vs do not have salary information?

We concluded 
- that we cannot define who was hired because we don't know the end result of the hiring process
- that we might miss some data because the same tasks, skills, positions are expressed differently


We will look at the datasets' statistics, datatypes, missing and duplicated values as well as visually assess it to define cleaning steps.


**Columns**

position: 

company: 

description: 

reviews: 

location:

In [ ]:
### Cleani

## Assessment

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('alldata.csv')

In [8]:
# assess shape
df.shape

(6964, 5)

In [9]:
# assess first 20 rows 
df.head(20)

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"
5,Manager of Data Engineering,McKinsey & Company,Qualifications\nBachelor’s degree in Computer ...,385.0,"Atlanta, GA 30318"
6,"Product Specialist - Periscope, New Ventures",McKinsey & Company,Qualifications\nBachelor’s degree\n5-7 years o...,385.0,"Atlanta, GA 30318"
7,"Junior to Mid-level Engineer, Geologist or Env...",Wood,Overview / Responsibilities\nWood Environment ...,899.0,"Atlanta, GA"
8,Analyst - CIB Credit Research,SunTrust,Works closely with senior CIB professionals. P...,3343.0,"Atlanta, GA"
9,Senior Associate - Cognitive Data Scientist Na...,KPMG,Known for being a great place to work and buil...,4494.0,"Atlanta, GA 30338"
10,STATISTICAL FORECAST ANALYST,The Home Depot,:\n\nThe Statistical Forecast Analyst position...,38844.0,"Atlanta, GA"
11,Health Scientist III-CPTS,Chenega Corporation,"Chenega Professional &amp; Technical Services,...",390.0,"Atlanta, GA"
12,"Senior Associate, Data Scientist",KPMG,Innovate. Collaborate. Shine. Lighthouse — KPM...,4494.0,"Atlanta, GA 30338"
13,Assistant Scientist (AR) SOM,Emory University,"DESCRIPTION\nUnder minimal supervision, the As...",550.0,"Atlanta, GA"
14,Business Intelligence Data Science Analyst - S...,Newell Brands,Data Science Analyst– Business Intelligence\nL...,912.0,"Atlanta, GA"
15,Data Scientist,Cotiviti,Cotiviti is looking for an industry leading Da...,104.0,"Atlanta, GA"
16,Senior Structural Engineer-Transmission & Dist...,Burns & McDonnell,Description\nExecutes complex assignments requ...,152.0,"Atlanta, GA 30309"
17,Senior Mobile Developer (iOS/Android),Perficient,Overview\n\n\n\nAt Perficient you’ll deliver m...,44.0,"Atlanta, GA 30338"
18,Data Scientist,Relus Cloud,DATA SCIENTIST\n\nSUMMARY:\nAs an Amazon Web S...,NaN,"Atlanta, GA"
19,Data Scientist,Inspire Brands,This position is critical to understanding dri...,NaN,"Atlanta, GA"

In [10]:
# assess last 20 rows 
df.tail(20)

,position,company,description,reviews,location
6944,"Staff Data Scientist, Search/Online Grocery",Walmart eCommerce,Position Description\nIn this role you will\nA...,141.0,"Sunnyvale, CA"
6945,"Machine Learning Specialist, Trust and Safety",Google,Google's brand is only as strong as our users'...,2474.0,"Sunnyvale, CA"
6946,Research Scientist,Amazon.com,Job Description\nAlexa is the Amazon cloud ser...,25907.0,"Sunnyvale, CA"
6947,Applied Machine Learning Scientist,Amazon.com,Job Description\nExternal job description\nAma...,25907.0,"Sunnyvale, CA"
6948,Scientist,Microsoft,We are the Azure Big Data teams part of the C+...,4618.0,"Sunnyvale, CA"
6949,Systems software Performance Data Scientist Su...,Alibaba,We are the System Performance Team of Alibaba ...,15.0,"Sunnyvale, CA"
6950,Applied Scientist - Alexa Engine,Amazon.com,Job Description\nInterested in making the ‘Ale...,25907.0,"Sunnyvale, CA"
6951,Lead Data Scientist - NLP,TARGET,Description:\n\nAbout This Opportunity\nJoin t...,33275.0,"Sunnyvale, CA"
6952,Image processing Deep learning Research Scientist,Whiterabbit.ai,Whiterabbit.ai is a leading venture-backed sta...,NaN,"Sunnyvale, CA 94085"
6953,"Machine Learning Scientist, Amazon Alexa",Amazon.com,Job Description\nAmazon is looking for a passi...,25907.0,"Sunnyvale, CA"
6954,"Global Mobility Specialist, Immigration",Google,Google is known for our innovative technologie...,2474.0,"Sunnyvale, CA"
6955,Data Engineer,Amazon.com,"Job Description\nToday, people spend too much ...",25907.0,"Sunnyvale, CA"
6956,"Manager, Machine Learning",Amazon.com,Job Description\nAlexa is Amazon's new cloud-b...,25907.0,"Sunnyvale, CA"
6957,Lead Data Scientist - Haskell,TARGET,Description:\nTarget is looking for engineers ...,33275.0,"Sunnyvale, CA"
6958,Senior Data Scientist (GEC11902),Walmart,Position Description\nProficient in Java or Py...,148114.0,"Sunnyvale, CA 94086"
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,574.0,"Sunnyvale, CA"
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,26.0,"Sunnyvale, CA"
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA"
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,4618.0,"Sunnyvale, CA"
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcast’s Technology &amp; Product organizatio...,11610.0,"Sunnyvale, CA 94089"

In [11]:
# assess dtypes of columns
df.dtypes

position        object
company         object
description     object
reviews        float64
location        object
dtype: object

In [12]:
# assess statistics of the dataset
df.describe()

             reviews
count    5326.000000
mean     3179.089185
std      8448.515056
min         2.000000
25%        27.000000
50%       230.000000
75%      1578.000000
max    148114.000000

In [15]:
# assess column non-null values set to see which column has missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 272.2+ KB

In [16]:
# assess df's null values
df.isnull().sum()

position         11
company          11
description      11
reviews        1638
location         11
dtype: int64

In [17]:
# assess df's duplicated values
sum(df.duplicated())

10

In [20]:
# assess frequency and list of values in different columns
df['position'].value_counts()

Data Scientist                                                                 351
Senior Data Scientist                                                           96
Research Analyst                                                                64
Data Engineer                                                                   60
Machine Learning Engineer                                                       56
                                                                              ...
Principal Data Scientist - Prime Video Personalization                           1
Data Scientist - CONSULTANT Level - ORLANDO FLORIDA - We will help Relocate      1
Sourcer                                                                          1
Knowledge Engineer - French - Alexa                                              1
Research Scientist II - Statistical Genetics                                     1
Name: position, Length: 5242, dtype: int64

In [21]:
# assess frequency and list of values in different columns
df['company'].value_counts()

Amazon.com                    358
Ball Aerospace                187
Microsoft                     137
Google                        134
NYU Langone Health             77
                             ...
Solving IT                      1
Qulab Inc.                      1
SHIELDS for Families, Inc.      1
LabKey Software                 1
PlaceIQ                         1
Name: company, Length: 2213, dtype: int64

In [19]:
# assess frequency and list of values in different columns
df['location'].value_counts()

Seattle, WA                563
New York, NY               508
Cambridge, MA              487
Boston, MA                 454
San Francisco, CA          425
                          ...
Kentfield, CA 94904          1
San Francisco, CA 94109      1
Atlanta, GA 30339            1
Lynbrook, NY                 1
Los Angeles, CA 90006        1
Name: location, Length: 382, dtype: int64

## Summary of Assesment

- remove duplicates

### Cleaning steps

**Description column: Karina/Lilla**

- Scrape description column for Excel, R, Python, Tableau, Machine Learning, MySQL, SQL, A/B Tests, Data Mining, Data visualisation, (data visualization), Data Cleansing, Data Cleaning, Statistical modeling, Statistical Analysis

- create a column which validates if 2 skills are present in the description with a function and returns a True/False value in the column

- Scrape description column for levels: Entry-level, Junior/Associate,  Internship/Intern 

- create a column which validates if one is present in the description with a function and returns a True/False value in the column

- Before dropping the rows we don’t need, we check the position value

- Scrape for: dollars, $, salary 

- create a column which validates if one is present in the description with a function and returns a True/False value in the column

- Check if it's valid



**Position column: Karina/Lilla**

- Relocate seniority level to a different column

- Revisit when we have both new columns from description and position


**Company column:**

- Remember to decide about it at the visualisation phase
(don't need to do the cleaning now, but later:)

- Check for unique values

- Standardise values if we need to (lowercase, spaces->)


**Review column: Neil**

- Drop it completely


**Location column: Neil**

- Check if there are typos
- Check how many zip codes are missing and make a decision to fill them in or not